<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{if .Title}} {{.Title}} - Niltalk {{else}}Niltalk &mdash; Instant, private, disposable chat{{end}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	{{if .Description}}
	<meta name="description" content="{{.Description}}" />
	{{else}}
	<meta name="description" content="Instantly create secure, private, and disposable chat rooms and chat away for FREE!" />
	{{end}}
	<meta name="keywords" content="instant chat, secure chat, free online chat, free online chatroom, encrypted chat, disposable chatrooms, encrypted chatrooms, ssl chat, secure messaging, secure instant messaging" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

	<link rel="image_src" href="{{.Config.Url}}/static/images/thumbnail.png" />
	<meta property="og:image" content="{{.Config.Url}}/static/images/thumbnail.png" />
	<link rel="shortcut icon" href="{{.Config.Url}}/static/images/favicon.png" type="image/x-icon" />

	<link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
	<link href="/static/base.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" title="light" href="/static/light.css">
        <link rel="alternate stylesheet" type="text/css" title="dark" href="/static/dark.css">

	<script src="/static/lib.js"></script>
	<script src="/static/app.js"></script>
	<script>
		var root = "{{.Config.Url}}", route = "{{.Config.RoomRoute}}", ws_route = "{{.Config.WebsocketRoute}}";
		{{if .Room}}
			var room_id = "{{.Room.Id}}";
		{{end}}
	</script>
	<script>
	var style_cookie_name = "chatstyle" ;
	var style_cookie_duration = 30 ;
	var style_domain = "domain.com" ;

	function switch_style ( css_title )
	{
	  var i, link_tag ;
	  for (i = 0, link_tag = document.getElementsByTagName("link") ;
	    i < link_tag.length ; i++ ) {
	    if ((link_tag[i].rel.indexOf( "stylesheet" ) != -1) &&
	      link_tag[i].title) {
	      link_tag[i].disabled = true ;
	      if (link_tag[i].title == css_title) {
	        link_tag[i].disabled = false ;
	      }
	    }
	  }
	}
	</script>
</head>
<body class="{{if .Body}} {{.Body}} {{end}}">
<div id="wrap" class="grid-1000">
	<header id="header" class="row">
		<div class="col6" id="logo">
			<a href="{{.Config.Url}}"><img src="/static/images/logo.png" /></a>
		</div>
		<div class="room-url col6 last">
		</div>
	</header>
	<center><form>
	<input type="submit" onclick="switch_style('light');return false;" name="theme" value="Light Theme" id="light">
	<input type="submit" onclick="switch_style('dark');return false;" name="theme" value="Dark Theme" id="dark">
	</form></center><br>
	<div id="content">
		{{template "content" .}}
	</div>

	<div id="notification"> </div>
	<footer id="footer">
		<nav>
			<a href="/pages/privacy">Terms &amp; Privacy</a>
			<a href="https://github.com/knadh/niltalk">Source</a>
			 <a href="mailto:admin&#064;niltalk.com">Queries? admin&#064;niltalk.com</a>
		</nav>
	</footer>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-5537752-8', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
